.footer{
    .icon{
        fill: #21243D;
        height: 30px;
    }

    .social{
        display: flex;
        justify-content: center;
        gap: 35px;
        margin-bottom: 54px;
    }

    .text{
        text-align: center;
    }
}