.header{
 .list{
    display: flex;
    justify-content: end;
    gap: 33px;
    @media screen and (min-width: 852px) {
        display: none;
      }
}

a{
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: right;
    padding: 27px 0;
}
}