.hi{
    text-align: center;

    .title{
        margin-top: 34px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    width: 312px;
    }

    .text{
        margin-top: 21px;
    font-size: 16px;
    }

    .button{
        margin-top: 27px;
        background: rgba(255, 100, 100, 1);
        color: white;
        border: transparent;
        padding: 9px 20px;
border-radius: 2px;
font-weight: 500;
font-size: 20px;
    }
}

